Item.alchemy-dictionary_item > Box {
    margin-bottom: 3.5px;
    margin-right: -2px;
    flex-direction: row;
}

Item.alchemy-dictionary_item > Box > #key-value-element {
    flex-direction: column;
    flex-grow: 1;
}

Item.alchemy-dictionary_item > Box > #key-value-element > GenericField {
    flex-grow: 1;
}

Item.alchemy-dictionary_item > Box > Button#close-button {
    width: 18px;
    height: 18px;
    -unity-font-style: bold;
    font-size: 10px;
}
