Label.alchemy-attribute-title_drawer-title {
    -unity-font-style: bold;
    padding-left: 3px;
    margin-top: 4px;
    margin-bottom: -2px;
}

Label.alchemy-attribute-title_drawer-subtitle {
    font-size: 10px;
    padding-left: 4.5px;
    margin-top: 2px;
    color: var(--unity-colors-default-text-hover);
}
